RewriteEngine On
RewriteBase /sched/

# Ensure the file or directory does not already exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite URLs without extensions to .php files
RewriteRule ^(.*)$ $1.php [L]
